<div class="logo-container">
	<img class="logo-img" src="../../../assets/img/logo.png" alt="" />
</div>
<div class="login-container" [class.mat-elevation-z8]="true">
	<div *ngIf="userMsg" class="text-danger">{{ userMsg }}</div>

	<form [formGroup]="changeForm">
		<div class="login-user-full-width form-field">
			<mat-form-field class="login-user-full-width">
				<mat-label>Username</mat-label>
				<input formControlName="username" matInput />
			</mat-form-field>
		</div>

		<div class="login-user-full-width form-field">
			<mat-form-field class="login-user-full-width">
				<mat-label>Password</mat-label>
				<input formControlName="password" matInput type="password" />
			</mat-form-field>
		</div>

		<div class="login-user-full-width form-field">
			<mat-form-field class="login-user-full-width">
				<mat-label>Confirm Password</mat-label>
				<input formControlName="confirmPassword" matInput type="password" />
			</mat-form-field>
		</div>

		<div class="form-field">
			<button (click)="doChange()" [disabled]="changeForm.invalid" mat-raised-button color="warn">Change</button>
			<a routerLink="/admin">Cancel</a>
		</div>
	</form>
</div>
