.search-container {
	text-align: center;
}

.search-field {
	margin-top: 1%;
	width: 60%;
}

mat-form-field mat-icon,
mat-form-field span {
	color: white;
}

.mat-focused mat-icon,
.mat-focused span,
.theme-color {
	color: #f44336;
}

.mat-input-element {
	color: white !important;
}

::ng-deep.mat-form-field-underline {
	background-color: white !important;
}

.mat-tab-label {
	color: white;
}

.mat-placeholder {
	color: white;
}

.add-agent-field {
	display: inline-block;
	width: 40%;
}

.form-field {
	text-align: center;
}

h3 {
	text-align: center;
	color: white;
	font-weight: 100;
	margin-top: 5%;
}

.add-document-container {
	margin-top: 5%;
}

.cancel-link {
	color: #f44336;
	cursor: pointer;
}
