<div class="logo-container">
	<img class="logo-img" src="../../../assets/img/logo.png" alt="" />
</div>
<div class="login-container" [class.mat-elevation-z8]="true">
	<form>
		<div class="login-user-full-width form-field">
			<mat-form-field class="login-user-full-width">
				<mat-label>Email</mat-label>
				<input matInput />
			</mat-form-field>
		</div>

		<div class="login-user-full-width form-field">
			<mat-form-field class="login-user-full-width">
				<mat-label>Password</mat-label>
				<input matInput type="password" />
			</mat-form-field>
		</div>

		<div class="form-field">
			<button mat-raised-button color="warn">Login</button>
		</div>
	</form>
</div>
