.search-container {
	text-align: center;
}

.search-field {
	margin-top: 1%;
	width: 60%;
}

mat-form-field mat-icon,
mat-form-field span {
	color: white;
}

.mat-focused mat-icon,
.mat-focused span {
	color: #ff6900 !important;
}

.mat-input-element {
	color: white !important;
}

.mat-form-field-underline {
	background-color: white !important;
}

.mat-tab-label {
	color: white;
}

.mat-placeholder {
	color: white;
}

button,
.mat-ink-bar,
.mat-form-field-ripple {
	background-color: #ff6900 !important;
}
