<app-nav-bar></app-nav-bar>
<h3>Agent Details</h3>
<div class="add-agent-container container">
	<form>
		<div class="form-field">
			<mat-form-field class="add-agent-field" color="warn">
				<mat-placeholder><span>Name</span></mat-placeholder>
				<input matInput />
			</mat-form-field>
		</div>
		<div class="form-field">
			<mat-form-field class="add-agent-field" color="warn">
				<mat-placeholder><span>Email</span></mat-placeholder>
				<input matInput />
			</mat-form-field>
		</div>
		<div class="form-field">
			<mat-form-field class="add-agent-field" color="warn">
				<mat-placeholder><span>Contact</span></mat-placeholder>
				<input matInput />
			</mat-form-field>
		</div>
		<div class="form-field">
			<mat-form-field class="add-agent-field" color="warn">
				<mat-placeholder><span>Password</span></mat-placeholder>
				<input matInput />
			</mat-form-field>
		</div>
		<div class="form-field">
			<mat-form-field class="add-agent-field" color="warn">
				<mat-placeholder><span>Confirm Password</span></mat-placeholder>
				<input matInput />
			</mat-form-field>
		</div>
		<div class="form-field mt-4">
			<button mat-raised-button color="warn">Add Agent</button>

			<a routerLink="/admin" class="ml-3 cancel-link">Cancel</a>
		</div>
	</form>
</div>
